@model  EwuConnect.Domain.Models.Forums.ViewModels.ForumIndexModel

<div class="container1">
	<div class="bootstrapGrid">
	<h1>Forums</h1>
	<table class="table table-hover" id="forumIndexTable">
		<tbody style="">
		@foreach (var forum in Model.ForumList)
		{
			<tr>
				<td>
					<a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
						@forum.Name
					</a>
				</td>
				<td>
					@forum.Description
				</td>
			</tr>
		}
		</tbody>
	</table>
	</div>	
</div>

