html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.landing-page {
    background-image: url("../img/Large_EWU_CEB_SCIENCE_LIBRARY.jpg");
    background-color: #6d6e71;
    text-align: center;
}
.hidden{
    visibility : hidden;
}
.visible{
    visibility : visible;
}

.nav-bar {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #6d6e71;
}

.footer {
    width: 100%;
    background-color: #6d6e71;
    text-align: center;
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    height: calc(1.5em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

body-landing-page {
    background-image: url(../img/Large_EWU_CEB_SCIENCE_LIBRARY.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    top: 50%;
    left: 50%;
}

div.container1 {
    flex: 1 0 auto;
    text-align: center;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10%;
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.row {
    margin-top: 2%;
}
