
@{
    ViewData["Title"] = "Connections";
}
    <asp:Content ID="Content1" ContentPlaceHolderID="LandingPage" runat="server">
        <link href="/css/connections.css" rel="stylesheet" type="text/css" />

        <div class="container1">
            <div class="bootstrapGrid">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Connections</h1>
                    </div>
                    <div class="col-sm-12">
                        <p>This is where you will view previously made connections and messages.</p>
                    </div>
                </div>
            </div>
        </div>
    </asp:Content>