<div class="col-sm-12">
	<div class="alert alert-danger alert-dismissible" runat="server" id="AlertDanger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Error!</strong> Please fill out all required fields.
	</div>
</div>
