
@{
    ViewData["Title"] = "Contact";
}

	<asp:Content ID="Content1" ContentPlaceHolderID="LandingPage" runat="server">
		<link href="css/contact.css" rel="stylesheet" type="text/css" />



		<div class="container1">
			<div class="bootstrapGrid">
				<div class="row">
					<div class="col-sm-12">
						<h1>Contact Us</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<asp:RequiredFieldValidator ID="RequiredName" runat="server" ErrorMessage="*"
													ControlToValidate="Name" ValidationGroup="comment" Width="1%" />

						<asp:TextBox ID="Name" Placeholder="Full Name" runat="server" Width="95%" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<asp:RequiredFieldValidator ID="RequiredEmail" runat="server" ErrorMessage="*"
													ControlToValidate="Email" ValidationGroup="comment" Width="1%" />

						<asp:RegularExpressionValidator runat="server" ID="ExpressionValidatorEmail"
														SetFocusOnError="true" ControlToValidate="Email"
														ValidationExpression="\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*" Display="Dynamic"
														ValidationGroup="comment" />

						<asp:TextBox ID="Email" Placeholder="Email" runat="server" Width="95%" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<asp:RequiredFieldValidator ID="RequiredComment" runat="server" ErrorMessage="*"
													ControlToValidate="Comments" ValidationGroup="comment" Width="1%" />

						<asp:TextBox ID="Comments" Placeholder="Message" runat="server"
									 TextMode="MultiLine" Rows="10" Width="95%"
									 ValidationExpression=".{10,}" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="alert alert-success alert-dismissible collapse" runat="server" id="AlertSuccess">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Sent!</strong> Thank you. We will get back to you shortly.
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="float-right">
							<asp:Button runat="server" ID="btnSubmit" class="btn btn-primary btn-lg" Text="Submit" OnClick="BtnSubmit_Click" ValidationGroup="comment" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="float-left">
							<asp:Button runat="server" ID="Button3" class="btn btn-info btn-lg" Text="Become a Mentor" OnClick="BtnMentor_Click" />
						</div>
					</div>
				</div>
				<%--<div class="row">
					<div class="col-sm-12">
						<p>Nate Bryant, M.S. EWU Career Center — Employer Relations Manager</p>
						<p>(509) 359-6058 — nbryant2@ewu.edu</p>
					</div>
				</div>--%>
			</div>
		</div>
	</asp:Content>

