
@{
    ViewData["Title"] = "Connections";
}

	<asp:Content ID="Content2" ContentPlaceHolderID="LandingPage" runat="server">

		<style>
			body {
				text-align: center;
			}
		</style>

		<div class="container1">
			<section>
				This is where you will view previously made connections and messages
			</section>
		</div>

	</asp:Content>

