
@{
    ViewData["Title"] = "Search";
}

	<asp:Content ID="Content2" ContentPlaceHolderID="LandingPage" runat="server">
		<style>
			body {
				text-align: center;
			}
		</style>

		<div class="container1">
			<section>
				search
			</section>
		</div>
	</asp:Content>

