
@{
	ViewData["Title"] = "About";
}

<asp:Content ID="Content2" ContentPlaceHolderID="LandingPage" runat="server">
	<link href="css/about.css" rel="stylesheet" type="text/css">

	<div class="container1">

		<div class="bootstrapGrid">
			<div class="row">
				<div class="col-md-12">
					<div id="about">
						The purpose of the program is to establish a relationship in which the Career Mentor can help develop
						the Student Mentee’s professional and personal growth, enhancing networking and decision-making
						skills, as well as offering advice from a “real world” professional’s perspective. The goal of the program
						is to assist students with a successful transition from the life of a college student to the life of a working
						professional.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<blockquote>
						It has been most interesting speaking with an accountant hands on because I don't know
						anyone family or friend wise who is an accountant. It is nice to be able to ask questions
						and learn about the specifics in all aspects to the accounting field.
					</blockquote>
				</div>
				<div class="col-md-6">
					<blockquote>
						I've found this program to be very helpful! It's awesome to get a professional's advice
						on preparing career materials and a buffer for networking events. I've been highly
						recommending the program to my peers :) <span style="opacity: 0;">This sentence is pad.</span>
					</blockquote>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<blockquote>
						Practice with interviews is very valuable since that isn't really my strong suit. I'm always
						amazed at how many resources (blogs, websites, articles) that Rebecca can find on the topics
						we're focusing on. We've mostly discussed interviewing and then had a mock interview session
						with feedback. Both mentors were involved and they videotaped it so we can see our nervous
						tics, body language, etc.
					</blockquote>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<asp:Button runat="server" ID="Button3" class="btn btn-info btn-lg" Text="Become a Mentor" OnClick="BtnMentor_Click" />
				</div>
			</div>
		</div>
	</div>
</asp:Content>


